body      {
     background: url('~/../../images/fondo.jpg') no-repeat center center fixed;
          }

.content {
     width: 480px;
     margin: 20px auto 0;
          }

.calculator    {
     width: 480px;
     height: auto;
     padding: 10px 0;
     margin: auto;
     background-color: rgba(0, 0, 0, 0.7) !important;
     border: #000 1px solid;
     border-radius: 7px;
     overflow: hidden;
     text-align: center;
               }

.screen   {
     width: 424px;
     height: 93px;
     margin: 12px auto 30px;
     padding: 15px 20px;
     color: #fff;
     text-align: right;
     font-size: 3em;
     letter-spacing: 3px;
     overflow: hidden;
     border: #000 1px solid;
     border-radius: 7px;
     box-sizing: border-box;
     background-color: #060404d6;
          }

.buttons  {
     padding: 0;
     width: 443px;
     margin: auto;
     overflow: hidden;
     list-style: none;
          }

.buttons li    {
          display: inline;
          float: left;
          padding: 7px;
               }

.buttons li:nth-child(4n)     {
          margin-right: 0;
                              }

.buttons a     {
          text-decoration: none;
          display: block;
          width: 95px;
          height: 68px;
          padding: 18px 0 12px;
          color: #fff !important;
          font-family: "Myriad Pro", Arial, sans-serif;
          font-size: 1.6em;
          font-weight: 500;
          letter-spacing: -2px;
          background-color: #4e4e4e;
          border: #000 1px solid;
          border-radius: 5px;
          box-sizing: border-box;
          cursor: pointer;
               }

.buttons a:active   {
          box-shadow: inset rgba(0, 0, 0, 0.5) 0px 2px 8px;
                    }

.tall     {
          height: 151px !important;
          }

.wide     {
          width: 205px !important;
          }

.shift    {
          margin-top: -78px;
          }

.ctrls    {
          list-style: none;
          margin: 5px 0 0 20px;
          padding: 0;
          position: absolute;
          }
.ctrls li {
          float: left;
          display: inline;
     }
.ctrls li a {
          display: block;
          width: 18px;
          height: 18px;
          margin-right: 10px;
          border-radius: 100%;
     }

.disabled {
          pointer-events: none;
          opacity: 0.6;
          }